body{
  background-color: white;
  margin: 0;
  font-family: sans-serif;
  padding: 0px;
  top: 0;
  display: grid;
}
p{
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-transform: initial;
  
}
b{
  font-weight: bold;
}
header{
  background-color: #00d1b1;
  color: white;
  padding: 10px 50px;
}
nav{
  background-color:#0c99f0;
  padding: 0px 10px;
  display: flex;
  flex-wrap: nowrap;
}
input{
  width: 200px;
  height: 24px;
  margin: 5px 30px;
  text-align: center;
  line-height: 57px;
  font-size: 20px;

}

.SelectContainer{
  width: 100px;
  height: 40px;
  display: contents;
  font-size: 14px;
  width: 100%;

}

select {
  width: 250px;
  height: 40px;
  position: relative;

}
select:before {
  background-image: url(../images/arrow-down.svg);
  position: absolute;
  right: 15px;
  top: 12px;
}
.icon {
  position: absolute;
  left: 7px;
  top: 12px;
}
select img {
  height: initial;
  width: 20px;
  text-align: center;
  display: initial;
  margin-bottom: 6px;
  left: 0;
}
 select {
  padding: 0 40px;
  font-size: 16px;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 2px;
  box-shadow: none;
}
 input[type="date"],
  select {
    
    margin: 20px;
  background-color: white;
  padding: 7px 3px 7px 42px;
  font-size: 14px;
  border: 1px solid transparent;
  width: 100%;
  margin-bottom: 18px;
  color: #272727;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;

}
input[type="date"]:focus,
input[type="date"]:hover,
 select:focus,
 select:hover {
  outline: none;
  border-color: #ffffff;
}

 .fa-sort {
  position: absolute;
  right: 10px;
  top: 17px;
  color: #999;
}


main{
  background-color: #ffffff;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 80px;
}
.card{
  border: solid rgb(230, 230, 230) 1px;
  border-radius: 2px;
  background-color: white;
  -webkit-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.25);
  box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.25);
  width: 30%;
  margin: 16px;
}
.imgHotel{
  height: auto;
  width: 100%;
}
.imgHotel img{
  height: auto;
  width: 100%;
}
.infoCard{
padding: 10px 20px;
}
.titleCard{
  font-size: 24px;
  font-weight: 600;
  color: rgb(93, 93, 93);
  text-transform: capitalize;
  padding-bottom: 20px;
}
.DescriptionCard{
  color: rgb(130, 130, 130);
  font-size: 17px;
  text-align: inherit;
  padding-bottom: 20px;
}
.bgIcon{
  background-color:#0c99f0;
  margin-right: 10px;
  border-radius: 3px 0px 0px 3px;
}
.bgIcon img{
  width: 20px;
  margin: 4px;
  height: 18px;
  background-color: #0c99f0;
  font-size: 14px;
}
.locationCityText{
  display: flex;
  background-color: #e1e1e1;
  padding: 0px;
  width: fit-content;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 11px;
  border-radius: 3px;
}
.priceBg{
  background-color: #0c99f0;
  display: flex;
  border-radius: 2px;
  width: 82px;
  padding: 2px;
  height: 26px;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.price{
 color: rgba(255, 255, 255, 0.337);
 font-size: 20px;
 margin-left: 3px;
}
.priceActive{
  color: white;
  font-size: 20px;
 margin-left: 3px;
 }
 .inline{
   display: flex;
 }

.btn{
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #01d1b1;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border: solid 1px #01d1b1;
}
.btn:hover{
  background-color: #00ba9d;
  color: white;
}
.btn:focus{
    outline: none;
}
.btnReservar{
  width: 100%;
  height: 50px;
  font-size: 18px;
}